.swiper{
  display: none; 
}
.carousel{
  width: 100%;
  img{
    width: 100%;
  }
}
@include lg(){
  .carousel{ 
height: 90%;
  }
  .mb-img{
    display: none;
  }
  .swiper {
    display: block;
  }
  .item-wrapper{
    width:84%;
    
  img{
    width: 84%;
    height: 90%;
  }
  
  }

  .swiper-pagination{
    padding-top: 2rem;
  
  
  }
  
  .swiper-pagination-bullet{
    background-color:$text-color;
    
  }

  
 .item_prev,.item_prev::after{
color: $subtext-color;
left: 6.2%;
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
background-color:$white;
border-radius: 50%;
width: 50px;
height: 50px;
line-height: 50px;
text-align: center;
font-size: 1.5rem;

 }

 .item_next,.item_next::after{
  right: 6.2%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  color: $subtext-color;
background-color:$white;
border-radius: 50%;
width: 50px;
height: 50px;
line-height: 50px;
text-align: center;
font-size: 1.5rem;
 }
  
}