.single-banner{
  background-color:$background;
  padding-top: 3rem;
  padding-bottom: 4rem;
  width: 100%;
  img{
    width: 100%;
  }
  .desktop-reklam{
    display: none;
  }
}
@include lg(){
  .single-banner{
    padding-left:8%;
    padding-right:8%;
    .mobile-reklam{
      display: none;
    }
    .desktop-reklam{
      display: block;
    }
  }
}