// Colors
$primary-dark:#1D2123;
$background:#faf9f9;
$search-bar:#F6F6F8;
$primary-pink:#ED008C;
$hover-color:#f6465d;
$text-color:#828282;
$subtext-color:#4F4F4F;
$neutral-gray:#828282;
$paragraph-color:#333333;
$white:#fff;
// Font-families

// $font-family:'Euclid Circular A';

// Font-weight
$light:400;
$regular:500;
$medium:600;
$semi-bold:700;
$bold:800;

// Font-size
$text-size:0.75rem; //12px
$subtext-size:0.875rem;//14px
$medium-font:1rem;
// $subtext-size:1.5rem; //24px
// $mobile-subtext-size:1.875rem;   //30px
// $heading-size:3.625rem; //58px
// $subheading-size:2.5rem; //40px 


// Media queries
$large:968px;