* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: regularFont;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  cursor: pointer;
}

header {
  width: 100%;
  padding: 1rem;
  top: 0;
  position: fixed;
  z-index: 10;
  background-color: #1D2123;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bag, .logo, .globe, .language, .user-black, .heart-black {
  display: none;
  cursor: pointer;
}

.language {
  font-size: 1rem;
  border: none;
  outline: none;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.header-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
.header-icons .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
.header-icons .number {
  position: absolute;
  background-color: #ED008C;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  right: 0.5rem;
  top: 0.5rem;
  font-size: 10px;
  font-weight: 400;
  color: #fff;
  font-family: regularFont;
}

.input {
  background-color: #1D2123;
  padding: 1rem;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
}

input[type=text] {
  background-color: #F6F6F8;
  width: 100%;
  height: 2.5rem;
  border-radius: 8px;
  outline: none;
  border: none;
  padding-left: 3rem;
  font-size: 1rem;
  font-weight: 400;
  color: #1D2123;
  font-family: regularFont;
}
input[type=text]:focus {
  outline: 1px solid #1D2123;
}

.input .search {
  position: absolute;
  top: 40%;
  left: 2rem;
}

.navbar {
  height: 100vh;
  width: 80%;
  position: absolute;
  left: -80%;
  background-color: #fff;
  padding: 1rem 0;
  top: 0%;
  z-index: 1000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.navbar .header-logo {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #E0E0E0;
  padding: 0 1rem 1rem 1rem;
  width: 100%;
}

.nav-list {
  padding: 0 1rem;
  margin-top: 3rem;
  text-transform: uppercase;
}
.nav-list .nav-item {
  margin-bottom: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav-list .nav-item .nav-link {
  font-size: 0.875rem;
  font-weight: 400;
  color: #1D2123;
  font-family: regularFont;
  font-family: mediumFont;
}

.lang {
  margin-top: 3rem;
  border-top: 1px solid #E0E0E0;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
.lang a {
  font-size: 0.875rem;
  font-weight: 400;
  font-family: regularFont;
  text-transform: uppercase;
}

.lang_item-one {
  color: #1D2123;
}

.lang_item-two, .lang_item-three {
  color: #828282;
}

.navbar-buttons {
  font-size: 0.875rem;
  font-weight: 400;
  font-family: regularFont;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  background-color: #FAF9F9;
  padding: 1rem;
  font-family: mediumFont;
}
.navbar-buttons .sign-in, .navbar-buttons .register {
  width: 8rem;
  height: 3rem;
  line-height: 3rem;
  background-color: #1D2123;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  text-align: center;
  font-family: mediumFont;
}
.navbar-buttons .sign-in:hover {
  background-color: #f6465d;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.navbar-buttons .register {
  background-color: transparent;
  color: #1D2123;
}

.open {
  left: 0;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.background {
  background-color: #fff;
}

.nav-item.desktop-item {
  display: none;
}

@media screen and (min-width: 968px) {
  .hamburger, .mb-logo, .cart, .user, .heart {
    display: none;
  }
  .nav-item.desktop-item {
    display: block;
  }
  header {
    padding-left: 8%;
    padding-right: 8%;
    background-color: #fff;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .logo, .globe, .language, .bag, .user-black, .heart-black, .desktop-item {
    display: block;
  }
  .input {
    margin-left: auto;
    margin-right: 2.5rem;
    position: relative;
    width: 45%;
    background-color: transparent;
    padding: 0;
  }
  .input .search {
    top: 30%;
    left: 0.9rem;
  }
  .header-icons {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 25%;
  }
  .header-icons .select {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0.5rem;
  }
  .header-icons .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.2rem;
  }
  .header-icons .icons .number {
    position: static;
  }
  .navbar {
    z-index: 99;
    padding: 1rem 4rem;
    left: 0;
    width: 100%;
    height: auto;
    top: 100%;
    background-color: #1D2123;
  }
  .navbar .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
  }
  .navbar .nav-list .nav-item {
    margin: 0;
  }
  .navbar .nav-list .nav-item .nav-link {
    color: #fff;
  }
  .navbar .nav-list .nav-item .nav-link:hover {
    color: #ED008C;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar .nav-list .nav-item img {
    display: none;
  }
  .navbar .header-logo, .navbar .lang, .navbar .navbar-buttons {
    display: none;
  }
}
.categories {
  overflow-x: scroll;
  background-color: #faf9f9;
  width: 100%;
  padding: 1.8rem 0 1.8rem 1rem;
}
.categories::-webkit-scrollbar {
  display: none;
}
.categories .category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}
.categories .category .category_par {
  font-size: 0.875rem;
  font-weight: 400;
  color: #4F4F4F;
  font-family: regularFont;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 0.7rem;
}

.slider > * {
  width: 20%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

@media screen and (min-width: 968px) {
  .categories {
    display: none;
  }
}
.swiper {
  display: none;
}

.carousel {
  width: 100%;
}
.carousel img {
  width: 100%;
}

@media screen and (min-width: 968px) {
  .carousel {
    height: 90%;
  }
  .mb-img {
    display: none;
  }
  .swiper {
    display: block;
  }
  .item-wrapper {
    width: 84%;
  }
  .item-wrapper img {
    width: 84%;
    height: 90%;
  }
  .swiper-pagination {
    padding-top: 2rem;
  }
  .swiper-pagination-bullet {
    background-color: #828282;
  }
  .item_prev, .item_prev::after {
    color: #4F4F4F;
    left: 6.2%;
    -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 1.5rem;
  }
  .item_next, .item_next::after {
    right: 6.2%;
    -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    color: #4F4F4F;
    background-color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 1.5rem;
  }
}
.sold-out {
  padding: 3rem 1rem;
  padding-bottom: 0;
  background-color: #faf9f9;
  position: relative;
}
.sold-out .swiper-container .swiper-slide {
  padding: 0 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.sold-out .sold-out__links .sold-out__btn.desktop {
  display: none;
}
.sold-out .sold-out__header {
  font-size: 1rem;
  font-weight: 400;
  color: #1D2123;
  font-family: regularFont;
  margin-bottom: 2rem;
  font-family: mediumFont;
}
.sold-out .mySwiper, .sold-out .secondary-swiper, .sold-out .favorites {
  width: 100%;
  height: 60%;
}

.swiper-slide {
  border-radius: 5px;
  overflow: hidden;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.swiper-slide:last-of-type {
  display: none;
}
.swiper-slide .swiper-cart {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 0 0.8rem 1.9rem 0.8rem;
  position: relative;
}
.swiper-slide .swiper-cart .cart-header {
  height: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.swiper-slide .swiper-cart .cart-header .cart_icon {
  position: absolute;
  top: 8px;
  right: 8px;
}
.swiper-slide .swiper-cart .cart-header .cart_img {
  margin: 0 auto;
  height: 180px;
}
.swiper-slide .swiper-cart .cart-body {
  height: 35%;
  padding-top: 1.9rem;
}
.swiper-slide .swiper-cart .cart-body .price {
  font-size: 1rem;
  font-weight: 400;
  color: #ED008C;
  font-family: regularFont;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.2rem;
  font-family: mediumFont;
}
.swiper-slide .swiper-cart .cart-body p {
  height: 15%;
  font-size: 0.875rem;
  font-weight: 400;
  color: #333333;
  font-family: regularFont;
  margin-bottom: 2.8rem;
}
.swiper-slide .swiper-cart .cart-body .valuation {
  margin-bottom: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}
.swiper-slide .swiper-cart .cart-body .valuation .stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.swiper-slide .swiper-cart .cart-body .valuation .number {
  font-size: 10px;
  font-weight: 400;
  color: #828282;
  font-family: regularFont;
}

.sold-out .different_slide .swiper-cart {
  padding: 0;
}
.sold-out .different_slide .cart-header {
  background-image: url(/assets/images/s4.png);
  height: 60%;
}
.sold-out .different_slide .cart_img {
  width: 100%;
}
.sold-out .different_slide .cart-body {
  padding: 1.9rem 0.8rem;
}
.sold-out .different_slide .cart-body .prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.2rem;
}
.sold-out .different_slide .cart-body .old-price {
  text-decoration: line-through;
  font-size: 0.75rem;
  font-weight: 400;
  color: #828282;
  font-family: regularFont;
  margin-right: 0.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sold-out__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
  gap: 0.7rem;
}
.sold-out__btn a {
  font-size: 0.875rem;
  font-weight: 400;
  color: #1D2123;
  font-family: regularFont;
}

.sold-out .swiper-cart .etiket {
  display: none;
}

.left_arrow {
  position: absolute;
  top: 35%;
  left: 6%;
  z-index: 2;
  color: #4F4F4F;
  font-size: 2rem;
  width: 25px;
  height: 25px;
}

.right_arrow {
  color: #4F4F4F;
  width: 25px;
  height: 25px;
  font-size: 2rem;
  position: absolute;
  top: 35%;
  right: 6%;
}

@media screen and (min-width: 968px) {
  .sold-out .swiper-cart .etiket {
    top: 8px;
    display: block;
    position: absolute;
    left: 8px;
  }
  .sold-out .swiper-cart .first_cart--etiket {
    width: 25%;
  }
  .sold-out .swiper-cart .first_cart--etiket-two {
    top: 35px;
    width: 25%;
  }
  .sold-out .swiper-cart .second_cart--etiket {
    left: 4px;
  }
  .sold-out .swiper-cart .third_cart--etiket .third_cart--img:nth-of-type(2) {
    position: absolute;
    top: 7px;
    left: 7px;
  }
  .sold-out .swiper-cart .third_cart--etiket .third_cart--img:nth-of-type(3) {
    position: absolute;
    top: 20px;
    left: 7px;
  }
  .sold-out .swiper-cart .link {
    top: 60px;
    left: 187px;
  }
  .sold-out .swiper-cart .link_description {
    top: 30px;
    left: 147px;
    width: 40%;
  }
  .sold-out {
    padding-left: 0;
    padding-right: 0;
  }
  .sold-out .sold-out__links {
    padding-left: 8%;
    padding-right: 8%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .sold-out .sold-out__links .sold-out__btn.desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 0.7rem;
    margin-bottom: 2rem;
    margin-top: 0;
  }
  .sold-out .sold-out__btn.mobile {
    display: none;
  }
  .sold-out .mySwiper, .sold-out .secondary-swiper, .sold-out .favorites {
    padding-left: 8%;
    padding-right: 8%;
    height: 65%;
  }
  .sold-out .swiper-slide:last-of-type {
    display: block;
  }
}
.sold-out .different_slide--second .swiper-cart {
  padding: 0;
}
.sold-out .different_slide--second .cart-header {
  background-image: url(/assets/images/new2.svg);
  height: 60%;
}
.sold-out .different_slide--second .cart_img {
  width: 100%;
}
.sold-out .different_slide--second .cart-body {
  padding: 1.9rem 0.8rem;
}
.sold-out .different_slide--second .cart-body .prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.2rem;
}
.sold-out .different_slide--second .cart-body .old-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: line-through;
  font-size: 0.75rem;
  font-weight: 400;
  color: #828282;
  font-family: regularFont;
  margin-right: 0.3rem;
}

.banner {
  padding-top: 3rem;
  background-color: #faf9f9;
  padding-bottom: 2rem;
}
.banner .banners {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}
.banner .banners img {
  width: 100%;
}

@media screen and (min-width: 968px) {
  .banner {
    width: 100%;
  }
  .banner .banners {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 84%;
    margin: 0 auto;
  }
  .banner .banners img {
    width: 48%;
  }
}
.single-banner {
  background-color: #faf9f9;
  padding-top: 3rem;
  padding-bottom: 4rem;
  width: 100%;
}
.single-banner img {
  width: 100%;
}
.single-banner .desktop-reklam {
  display: none;
}

@media screen and (min-width: 968px) {
  .single-banner {
    padding-left: 8%;
    padding-right: 8%;
  }
  .single-banner .mobile-reklam {
    display: none;
  }
  .single-banner .desktop-reklam {
    display: block;
  }
}
.banner-carousel {
  display: none;
}

@media screen and (min-width: 968px) {
  .banner-carousel {
    display: block;
    background-color: #faf9f9;
  }
  .banner-carousel .bannersCarousel {
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
    width: 84%;
    margin: 0 auto;
    height: 25%;
  }
  .banner-carousel .bannersCarousel img {
    width: 150px;
  }
}
.subscribe {
  padding: 2rem 1rem;
  background-color: #f0f0f0;
  text-align: center;
}
.subscribe h4 {
  font-size: 1rem;
  font-weight: 500;
  color: #1D2123;
  font-family: regularFont;
  margin-bottom: 2rem;
}
@media screen and (min-width: 968px) {
  .subscribe h4 {
    width: 30%;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
}
.subscribe .subscribe-btns {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
.subscribe .subscribe-btns input {
  padding-left: 1rem;
  width: 70%;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 5px;
}
.subscribe .subscribe-btns input:focus {
  border: 1px solid #1D2123;
}
.subscribe .subscribe-btns .sub-btn {
  line-height: 40px;
  color: #fff;
  background-color: #1D2123;
  border-radius: 5px;
  display: inline-block;
  width: 25%;
  height: 40px;
}
.subscribe .subscribe-btns .sub-btn:hover {
  background-color: #f6465d;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media screen and (min-width: 968px) {
  .subscribe .subscribe-btns {
    width: 40%;
    margin: 0 auto;
  }
}

.footer {
  color: #fff;
  padding: 3rem 0;
  background-color: #131515;
  text-align: center;
}
.footer h5 {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  font-family: regularFont;
  margin-bottom: 2rem;
}
.footer h6 {
  font-size: 16px;
  font-weight: 400;
  margin-top: 2.8rem;
}
.footer .col {
  margin-bottom: 2rem;
}
.footer .list_item {
  font-size: 0.875rem;
  font-weight: 400;
  color: #fff;
  font-family: regularFont;
  margin-bottom: 1rem;
}
.footer .list_item .list_item--link {
  color: #fff;
  opacity: 0.8;
}
.footer .list_item .list_item--link:hover {
  opacity: 1;
}
.footer .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}
.footer span {
  opacity: 0.8;
}
.footer .footer-bottom {
  padding-top: 2rem;
  border-top: 1px solid hsla(0deg, 0%, 100%, 0.1);
}
.footer .footer-bottom .footer-bottom__navigation {
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}
.footer .footer-bottom .footer-bottom__navigation a {
  color: #fff;
  opacity: 0.8;
}
.footer .footer-bottom .footer-bottom__navigation a:hover {
  opacity: 1;
}

@media screen and (min-width: 968px) {
  .footer {
    padding-bottom: 2rem;
    text-align: left;
    padding-left: 8%;
    padding-right: 8%;
  }
  .footer .footer-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer .social-icons {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer .footer-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer .footer-bottom .footer-bottom__navigation {
    margin-bottom: 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
.basket-container {
  visibility: hidden;
  opacity: 0;
  padding-top: 3.5rem;
  position: absolute;
  z-index: 100;
  top: 0;
  right: 1rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.basket-container .polygon {
  position: absolute;
  right: 36px;
  bottom: 0;
  width: 0;
  height: 0;
  border: 13px solid transparent;
  border-top: 0;
  border-bottom: 18px solid #1D2123;
  display: none;
}

.bin {
  color: #828282;
  cursor: pointer;
  float: right;
}
.bin:hover {
  color: #f6465d;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.basket-display {
  visibility: visible;
  opacity: 1;
}

.drop-down__basket {
  position: absolute;
  width: 300px;
  height: 500px;
  z-index: 99;
  top: 100%;
  right: 8%;
}
.drop-down__basket .basket-heading {
  border-radius: 8px;
  background-color: #1D2123;
  padding: 1rem;
}
.drop-down__basket .basket-heading h3 {
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  font-family: regularFont;
}
.drop-down__basket .basket-heading span {
  font-size: 0.875rem;
  font-weight: 400;
  color: #fff;
  font-family: regularFont;
}
.drop-down__basket .basket-body {
  overflow-y: scroll;
  height: 65%;
  background-color: white;
  padding: 0 1rem;
}
.drop-down__basket .basket-body::-webkit-scrollbar {
  display: none;
}
.drop-down__basket .basket-body .product {
  border-bottom: 1px solid #bdbdbd;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
.drop-down__basket .basket-body .product .product_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.drop-down__basket .basket-body .product .product_info .prices {
  margin-bottom: 0.5rem;
}
.drop-down__basket .basket-body .product .product_info .prices .old-price {
  font-size: 1rem;
  font-weight: 400;
  color: #828282;
  font-family: regularFont;
  text-decoration: line-through;
  margin-right: 8px;
}
.drop-down__basket .basket-body .product .product_info .prices .price {
  font-size: 1rem;
  font-weight: 600;
  color: #ED008C;
  font-family: regularFont;
}
.drop-down__basket .basket-body .product .product_info h3 {
  font-size: 0.875rem;
  font-weight: 500;
  color: #333333;
  font-family: regularFont;
  margin-bottom: 0.5rem;
}
.drop-down__basket .basket-body .product .product_info span {
  font-size: 0.75rem;
  font-weight: 500;
  color: #4F4F4F;
  font-family: regularFont;
}
.drop-down__basket .basket-footer {
  border-radius: 8px;
  padding-top: 0;
  padding: 1rem 1rem 2rem 1rem;
  background-color: #fff;
}
.drop-down__basket .basket-footer .total {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.drop-down__basket .basket-footer .total p {
  font-size: 0.875rem;
  font-weight: 500;
  color: #333333;
  font-family: regularFont;
}
.drop-down__basket .basket-footer .total span {
  font-size: 1rem;
  font-weight: 500;
  color: #1D2123;
  font-family: regularFont;
  font-family: mediumFont;
}
.drop-down__basket .basket-footer .basket-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.drop-down__basket .basket-footer .basket-btns a {
  width: 48%;
  height: 50px;
  border-radius: 8px;
  text-align: center;
  line-height: 50px;
}
.drop-down__basket .basket-footer .basket-btns .basket_btn {
  font-size: 0.875rem;
  font-weight: 500;
  color: #1D2123;
  font-family: regularFont;
  border: 1px solid #1D2123;
}
.drop-down__basket .basket-footer .basket-btns .confirm {
  font-size: 0.875rem;
  font-weight: 500;
  color: #fff;
  font-family: regularFont;
  background-color: #1D2123;
}
.drop-down__basket .basket-footer .basket-btns .confirm:hover {
  background-color: #f6465d;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 968px) {
  .basket-container {
    top: 20px;
    right: 8%;
  }
  .basket-container .polygon {
    display: block;
  }
  .drop-down__basket {
    width: 350px;
  }
}
@font-face {
  font-family: "regularFont";
  src: url(/assets/Fonts/Euclid\ Circular\ A\ Regular.ttf);
}
@font-face {
  font-family: "mediumFont";
  src: url(/assets/Fonts/Euclid\ Circular\ A\ Medium.ttf);
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1D2123;
  opacity: 0.2;
  z-index: 5;
  visibility: hidden;
}

.visible {
  visibility: visible;
}

main {
  margin-top: 8rem;
}